/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/

.source-sans-3-Hanka {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-Hanka {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  width: auto;
  height: auto;
  background-color: #bdc3c7;
  margin: 20px;
  }
/*----------------------*/

.hlavicka {
  position: relative;
  width: 400px;
  margin: 0;
}

p {
  clear: both;
}

.profil {
  position: relative;
  width: 400px;
  height: auto;
  background-color: #31363b;
  color: white;
  text-align: left;
  margin: 0;
  box-shadow: 3px 5px 10px  gray;
}

.foto {
  position: static;
  width: 400px;
  overflow: auto;
  margin: 0;
}

.logo {
  position: relative;
  background-color: #b92e81;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: -50px;
  bottom: 40px;
  float: right;
}

.obsah {
  padding: 0 20px 40px 20px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 }
/*Odkazy*/

li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.odkazy {
height: 102px;
width: 400px;
padding: 0px;
margin: 0px;
font-variant: small-caps;
font-size: 20px;
letter-spacing: 1.5px;
text-align: center;
}

.portfolio {
  position: relative;
  height: 52px;
  width: 400px;
  border-bottom: solid 1px #3f464d;
  border-top: solid 1px #3f464d;
}

.facebook {
  position: relative;
  height: 50px;
  width: 200px;
  text-align: center;
  border-right: solid 0.5px #3f464d;
  }

.twitter {
  position: relative;
  height: 50px;
  width: 200px;
  text-align: center;
  border-left: solid 0.5px #3f464d;
  }

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 50px;
  width: 200px;
  padding-top: 10px;
}
  
.twitter a:hover {
background-color: #1da1f2;
height: 50px;
width: 200px;
}

.facebook a:hover {
  background-color: #3b5998;
  height: 50px;
}

.portfolio a:hover {
  background-color: #e74c3c;
  width: 400px;
}

