/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/
/*-----------------Písma-------------------*/

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: inherit;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*-----------------Body -> svetle seda barva-----------------*/

body {
  width: auto;
  height: auto;
  background-color: #bdc3c7;
  margin: 20px;
  }

/*-----------------Hlavička---------------*/

.hlavicka {
  position: relative;
  width: 400px;
  }

.profil {
  width: 400px;
  background-color: #31363b;
  color: white;
  text-align: left;
  box-shadow: 3px 5px 10px  gray;
}

.foto {
  width: 400px;
  z-index: 0;
  }

.logo {
  position: absolute;
  background-color: #b92e81;
  border-radius: 50%;
  right: 70px;
  top: 240px;
  z-index: 1;
}

a:visited {
  text-decoration: none;
}

/*------------------Texty----------------------*/
.obsah {
  margin: 0 20px; 
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }

/*------------------Odkazy----------------------*/
li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.odkazy {
height: 102px;
width: 400px;
padding: 0;
margin: 0;
font-variant: small-caps;
font-size: 20px;
letter-spacing: 1.5px;
text-align: center;
}

.portfolio {
  position: relative;
  height: 52px;
  width: 400px;
  border-bottom: solid 1px #3f464d;
  border-top: solid 1px #3f464d;
}

.facebook {
  position: relative;
  height: 50px;
  width: 200px;
  text-align: center;
  border-right: solid 0.5px #3f464d;
  }

.twitter {
  position: relative;
  height: 50px;
  width: 200px;
  text-align: center;
  border-left: solid 0.5px #3f464d;
  }

a {
  display: inline-block;
  text-decoration: none;
  color: white;
   padding-top: 10px;
}
  
.twitter a:hover {
background-color: #1da1f2;
height: 50px;
width: 200px;
}

.facebook a:hover {
  background-color: #3b5998;
  height: 50px;
}

.portfolio a:hover {
  background-color: #e74c3c;
  width: 400px;
}

